In [13]:
#librerias
import pandas as pd
import numpy as np
import openpyxl 
import os
import urllib
import sqlalchemy as sa
import pyodbc

In [11]:
NombreArchivo="C:/Users/Alexis Guevara S/Documents/EQUIVIDA/ARCHIVOS REGLAS Y ORIGINALES/SALUD/LISTADO POLIZA 3500000790 SALUD.xlsx"
pestaña="BASES"
#func para leer archivo, cambiar directorio y pestaña de ser el caso.
def LeerArchivo(NombreArchivo):
    df = pd.read_excel(NombreArchivo, sheet_name=pestaña, header=None)
    return (df)

In [9]:
#funcion para cambiar de letras a numeros 
def letras_a_numeros(letters):
    letters = letters.lower()
    dictionary = {'a':1,'b':2,'c':3,'d':4,'e':5,'f':6,'g':7,'h':8,'i':9,'j':10,'k':11,'l':12,'m':13,'n':14,'o':15,'p':16,'q':17,'r':18,'s':19,'t':20,'u':21,'v':22,'w':23,'x':24,'y':25,'z':26}
    strlen = len(letters)
    if strlen == 1:
        number = dictionary[letters]
    if strlen == 2:
        first_letter = letters[0]
        first_number = dictionary[first_letter]
        second_letter = letters[1]
        second_number = dictionary[second_letter]
        number = (first_number * 26) + second_number
    if strlen == 3:
        first_letter = letters[0]
        first_number = dictionary[first_letter]
        second_letter = letters[1]
        second_number = dictionary[second_letter]
        third_letter = letters[2]
        third_number = dictionary[third_letter]
        number = (first_number * 26 * 26) + (second_number * 26) + third_number
    return number

  Nombres Apellidos
0  Carlos   Camacho
1   María   Carrion
2   Julia     Perez

In [ ]:
#obtener reglas de bd, cambiar credenciales de base
def obtenerReglas(linea):
    #CONEXION A BASE DE DATOS SQL SERVER - REGLAS
    cnxn = pyodbc.connect("Driver={SQL Server};Server=LAPTOP-139S97Q7\PRUEBA; Database=equivida; UID=Alexis; PWD=Soft2021")
    df = pd.read_sql_query("SELECT * "+
                            "FROM [equivida].[dbo].[reglasEquivida] "+
                            "WHERE CLIENTE like '"+linea+"'" , cnxn)
    return (df)

In [ ]:
 #Crear Dataframe final
def DataFrameFinal():
    NombreColumnas=['TIPO_DE_REGISTRO','PRIMER_APELLIDO','SEGUNDO_APELLIDO','NOMBRES','FECHA_NAC','GENERO','TIPO_DOC','NUMERO_DOC','FEC_ALTA','SALARIO','CATEGORIA','COD_EMPRESA','NRO_PRESTAMO','COD_MEDIO_COMERCIAL','SN_GRATUIDAD','COD_ASESOR','PJE_EXTRAPRIMA','MOTIVO_EXTRAPRIMA','COD_ASEGURADO','TTIPO_DOC_TITULAR','NRO_DOC_TITULAR','COD_PARENTESCO','COD_BENEFICIO','PJE_BENEFICIO','COD_CONDUCTO','COD_TIPO_CTA_BCO','NRO_CTA_TARJ','NRO_SEGURIDAD','AAAAMM_VTO_TARJ','COD_TIPO_MOV','FEC_MOVIMIENTO','COD_MOTIVO_MOV','SN_DEVOLVER_OC','SN_APLICA_MOVIMIENTO','SN_REQUISITO_ASEG','SUMA_ASEG_INF','FEC_VIG_HASTA','COD_PPAGO','FEC_PAGO_PRI_CUOT','DIRECCION','TELEF_CELULAR','TELEF_CONVENCIONAL','EMAIL','COD_CANTON','COD_PROVINCIA','APELLIDO1_FACT','APELLIDO2_FACT','NOMBRE_FACT','TIPO_DOC_FACT','NRO_DOC_FACT','DIRECCION_FACT','COD_CANTON_FACT','COD_PROVINCIA_FACT','EMAIL_FACT','TELEF_CELULAR_FACT','TELEF_CONVENCIONAL_FACT']
    #Crear DataFrameFinal
    daf=pd.DataFrame(columns=[i for i in NombreColumnas])
    return (daf)

In [ ]:
#TratamientoFechas
def TratamientoFechas(df):
    df= df['Fecha-Nac       '].map(lambda t: t[:-8])
    return(df)